<% include partials/header %>

<link rel="stylesheet" href="/styles/aviso.css">

<div class="container contAviso">
    <h1>Aviso de privacidad</h1>
    <p> <span> KEPLER OIL & GAS, S.A. DE C.V.</span> Con domicilio en Avenida Constituyentes No. 57, Torre B Piso 8, Col. Cimatario, C.P: 76030 en cuidad de Querétaro, como parte de los procesos de consultoría solicita a sus clientes alguna información de carácter personal, y se hace responsable de usar los mismos exclusivamente para las finalidades previstas en el presente Aviso de Privacidad. En caso de que sea necesario utilizar los datos para un fin distinto, se le requerirá previamente por escrito, su consentimiento<span>.</span></p>
    <br>
    <p>Asimismo, cualquier cambio en el presente Aviso de Privacidad se le informará por escrito a la dirección de correo electrónico que para tal fin nos proporcione<span>.</span> </p>
    <br>
    <p>La información requerida será usada para la realización de la Prestación de Servicio de Consultoría, considerada la información requerida como sensible según la Ley Federal de Protección de Datos Personales en Posesión de los Particulares<span>.</span></p>
    <br>
    <p>Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento; sin efecto retroactivo a los procesos ya realizados y acordados con el contrato del servicio, que para tal fin nos haya otorgado, informando por escrito, por la de vía correo electrónico, dirigido al consultor asignado para su proceso<span>.</span> </p>
    <br>
    <p>Una vez que los datos personales proporcionados dejen de ser necesarios para el cumplimiento de las finalidades previstas en este Aviso y las disposiciones legales aplicables, se procederá a su cancelación, o solicitud de reserva de los mismos para siguientes servicios<span>.</span> </p>
    <br>
    <p>Si está de acuerdo con el presente aviso y el uso de sus datos personales, puede continuar con la contratación de los servicios de consultoría, así como proceder a la entrega de la información solicitada vía electrónica y/o en nuestras oficinas de atención<span>.</span> </p>
    <br>
    <p>Asimismo, le informamos que sus datos personales sólo podrán ser tratados y transferidos dentro y fuera del país, en casos de procesos internos para la Prestación de Servicio. Si usted no manifiesta por escrito, su oposición para que sus datos personales sean transferidos, se entenderá que ha otorgado su consentimiento para ello<span>.</span></p>
    <br>
    <p>En el marco del párrafo anterior, la “transferencia” comprende toda comunicación de datos realizada a algún tercero. De cualquier forma, <span>KEPLER OIL & GAS, S.A. DE C.V.</span> tomará las medidas necesarias y suficientes para garantizar que el presente Aviso de Privacidad sea respetado en todo momento<span>.</span></p>
    <br>
    <p>Si está de acuerdo con el presente aviso y el uso de sus datos personales, puede continuar con el proceso de la Prestación de Servicio, así como proceder al envío de la información solicitada<span>.</span></p>
    <br>
    <p>Cualquier duda o consulta de este aviso de privacidad podrá consultarla directamente con su consultor<span>.</span></p>
</div>

<% include partials/footer %>