<% include partials/header %>

<link rel="stylesheet" href="/styles/landing.css">

<link rel="stylesheet" href="/styles/animated.css">

<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide custom-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/ehud-neuhaus-1259619-unsplash.jpg" class="d-block w-100" alt="..." id="img1">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="animated fadeInUp" style="animation-delay: 1s">First slide label</h1>
                    <p class="animated fadeInDown" style="animation-delay: 2s">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/jose-lebron-1138274-unsplash.jpg" class="d-block w-100" alt="..." id="img2">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="animated fadeInUp" style="animation-delay: 1s">Second slide label</h1>
                    <p class="animated zoomInUp" style="animation-delay: 2s">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/rutger-heijmerikx-1272218-unsplash.jpg" class="d-block w-100" alt="..." id="img3">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="animated rollIn" style="animation-delay: 0.5s">Third slide label</h1>
                    <p class="animated bounceInLeft" style="animation-delay: 1.5s">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<section id="about">
    <div class="container">
        <h1 id="titleAbout"><span class="signoPuntuacion">¿</span>Quiénes somos<span class="signoPuntuacion">?</span></h1>
        <p>
            Somos una empresa que busca satisfacer las necesidades de la <strong>Industria del Petróleo</strong> y/o, los
            <strong>Hidrocarburos</strong>, mediante servicios confiables y especializados basados en la normatividad vigente,
            así como en la capacidad y experiencia técnica de nuestro personal, enfocados siempre hacia la
            mejora continua<span class="signoPuntuacion">.</span>
        </p>
    </div> 
</section>

<section id="valores">
    <div class="container">
        <h2>Nuestros valores<span class="signoPuntuacion">:</span></h2>
        <div class="row valores">  
            <div class="valor">
                <img class="iconValores" src="/img/pasion.png">
                <h3>Pasión</h3>
            </div>
            <div class="valor">
                <img class="iconValores" src="/img/confianza.png">
                <h3>Confianza</h3>
            </div>
            <div class="valor">
                <img class="iconValores" src="/img/medalla.png">
                <h3>Calidad</h3>
            </div>
        </div>
        <div class="row valores">
            <div class="valor">
                <img class="iconValores" src="/img/compromiso.png">
                <h3>Compromiso</h3>
            </div>
            <div class="valor">
                <img class="iconValores" src="/img/liderazgo.png">
                <h3>Autoliderazgo</h3>
            </div>
        </div>
        
    </div>
</section>

<section id="politica">
    <div class="container">
        <div id="contTitlePolitica">
            <h3 id="titlePolitica">Política:</h3>
        </div>
        <p>
            En Kepler Oil & Gas estamos comprometidos a safisfacer las nececidades del sector <strong>hidrocarburos</strong>, 
            mediante servicios confiables y especializados. así como en la capacidad y experiencia técnica de nuestro personal,
            cumpliando con los requisitos de nuestro sistema de gestión de calidad, la normatividad vigente y enfocándonos
            siempre hacia la mejora continua.
        </p>
    </div>  
</section>

<section id="servicios">
    <div class="container">
        <h3>Nuestros <span class="bold">Servicios</span>:</h3>
        <div class="row contServicios"> 
            <div class="card" style="width: 18rem;">
                <img src="/img/card-const.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NOM-005-ASEA-2016</h5>
                    <p class="card-text">Diseño, construcción, operación y mantenimiento de Estaciones de Servicio para almacenamiento y expendio de diésel y gasolinas.</p>
                    <a class="red" href="">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <form>
            <div class="form-row">
                <div class="col">
                <label for="inputEmail4">Email</label>
                <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
        </form>
    </div>
</section>

<% include partials/footer %>
