<% include partials/header %>  
<link rel="stylesheet" href="/styles/ok.css">
    <div class="container">
        <div class="jumbotron">
            <div class="contOk container m-5">
                <h2>Gracias por enviar tu información</h2>
                <img src="/img/account.png" class="img-fluid" alt="Responsive image">
                <h2>En breve nos pondremos en contacto.</h2>
            </div>
        </div>
    </div>
<% include partials/footer %>