h1.title{
    color: lightslategray;
}

h1#titleAbout {
    margin-bottom: 20px;
}

span.signoPuntuacion {
    color: #9D1C25;
    font-weight: bold;
}


section#about {
    padding-top: 5%;
    padding-bottom: 2%;
}

img.iconValores {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.valor {
    padding: 5%;
}

div.valores {
    display: flex;
    justify-content: space-around;
}