h1.title{
    color: lightslategray;
}

h1#titleAbout {
    margin-bottom: 20px;
}

span.signoPuntuacion {
    color: #9D1C25;
    font-weight: bold;
}


section#about {
    padding-top: 5%;
    padding-bottom: 2%;
}

img.iconValores {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.valor {
    padding: 5%;
}

div.valores {
    display: flex;
    justify-content: space-around;
}
.custom-carousel{
    position: relative;/*relative*/
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: 0.5;
}



.carousel-caption{
    padding-bottom: 250px;
    font-family: monospace;
}

.carousel-caption h1{
    font-size: 50px;
    text-transform: uppercase;
}

.carousel-caption p {
    font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    #img1{
        height: 350px;
    }
    #img2{
        height: 350px;
    }
    #img3{
        height: 350px;
    }
}